<head>
  <title>tpLDAP</title>
  <link rel="stylesheet" href="css/styles.min.css">
</head>
<body>
  <div class="centered-form">
      <div class="centered-form__box">
          <h1>Connexion</h1>

          <form method="post" action="/waiting">
              <label>Username</label>
              <input type="text" name="username" placeholder="username" id="username" required>
              <label>Password</label>
              <input type="password" name="password" placeholder='password' id="password" required>
              <button type="submit">Submit</button>
          </form>

      </div>
  </div>
  <div>
</div>
</body>