<head>
  <title>tpLDAP</title>
  <link rel="stylesheet" href="css/styles.min.css">
</head>
<body>
  <div class="centered-form">
      <div class="centered-form__box">
          <h1>Connexion</h1>

          <form method="post" action="/sendMail">
              <label>Votre adresse mail epsi : </label>
              <input type="text" name="username" placeholder="username" id="username" required>
              <label>Mdp de votre mail epsi : </label>
              <input type="text" name="password" placeholder='password' id="password" required>
              <label>Adresse mail de votre destinataire epsi : </label>
              <input type="text" name="destinataire" placeholder="username" id="destinataire" required>
              <label>Sujet</label>
              <input type="text" name="sujet" placeholder="username" id="sujet" required>
              <label>Texte </label>
              <input type="text" name="texte" placeholder="username" id="texte" required>
              <button type="submit">Submit</button>
          </form>

      </div>
  </div>
  <div>
</div>
</body>