<head>
  <title>tpLDAP</title>
  <link rel="stylesheet" href="css/styles.min.css">
</head>
<body>
  <div class="centered-form">
    {{#if admin }}
      <div class="centered-form__box">
            <form method="post" action="/ftp">
                <input type="text" name="username" placeholder="username" id="username"  value={{username}} hidden>
                <input type="password" name="password" placeholder='password' id="password" value={{password}} hidden>
                <button type="submit">FTP</button>
            </form>
        <br>
        <a href="/smtp">smtp</a>
      </div>
    {{/if}}
    {{#if mailer}}
      <div class="centered-form__box">
        <a href="/smtp">smtp</a>
      </div>
    {{/if}}
    {{#if ftp}}
      <div class="centered-form__box">
            <form method="post" action="/ftp">
                <input type="text" name="username" placeholder="username" id="username"  value={{username}} hidden>
                <input type="password" name="password" placeholder='password' id="password" value={{password}} hidden>
                <button type="submit">FTP</button>
            </form>
        <br>
      </div>
  {{/if}}
  </div>
</body> 