<head>
  <title>tpLDAP</title>
  <link rel="stylesheet" href="css/styles.min.css">

<body>
  <div class="centered-form">
    <div class="centered-form__box">
      <h1>Check your log after clicking on button</h1>
      <button href="/ftp" style="margin-bottom:2px;">ftp</button>
      <br>
      <button href="/smtp">smtp</button>
    </div>
  </div>
</body> 