<head>
  <title>tpLDAP</title>
  <link rel="stylesheet" href="css/styles.min.css">

<body>
  <div class="centered-form">
    <div class="centered-form__box">
      <h1>Check your log</h1>
      <a href="/ftp">ftp</a>
      <a href="/smtp">smtp</a>
    </div>
  </div>
</body> 